.ThemeOptions {
    background-color: #fff;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 60px;
    width: 190px;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    .icon {
        position: absolute;
        top: 0;
        left: -35px;
        width: 35px;
        height: 35px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #6B6C6D;
        svg {
            font-size: 25px;
            animation: spin 1.5s infinite linear;
        }
    }
    .optionsContent {
        margin-bottom: 40px;
        h4 {
        margin: 15px 0;
        text-transform: uppercase;
        font-family: $secondaryFont, sans-serif;
        font-size: 14px;
        color: black;
        }
        select {
            font-size: 16px;
            border-radius: 0;
            padding: 5px 10px;
            border-color:#ced4da;
            font-family: $secondaryFont, sans-serif;
            font-weight: 600;
            color: #6B6C6D;
            text-align: left;
            outline: none;
            &:focus {

                outline: outset 3px #00a1e141;
            }
        }

        ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 5px;
        width: 130px;
        flex-wrap: wrap;

            span {
                cursor: pointer;
                display: inline-block;
                width: 40px;
                height: 40px;
            }
        }
    }
    
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}