.ThemeOptions {
    background-color: #fff;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 60px;
    ul {
        
        span {
            display: inline-block;
            width: 20px;
            height: 20px;
        }
    }
}