.ServicesItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;

    .icon {
        font-size: 50px;
        color: $color-light;
    }
    h3 {
        font-size: 16px;

    }
    p {
        font-size: 14px;
        letter-spacing: 0.7px;
    }
}