
.sectionHeader {
    
    .sectionHeaderContainer {
        h1 {
            font-size: 36px;
            text-transform: capitalize;
            letter-spacing: 2px;
            font-weight: lighter;
            outline: none;
            font-family: $headerFont, sans-serif;
            border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
               span {
                   float: right;
                   font-size: 45px;
               }
            }
    }
}

.sectionSecondaryHeader {
    font-family: $headerFont, sans-serif;
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    text-align: left;
    letter-spacing: 1px;
}