.input {
  position: relative;
  width: 50%;
  margin-bottom: 20px;
  input {
    font-family: inherit;
    width: 100%;
    border: 2px solid #999;
    outline: 0;
    padding: 5px 10px;
    background: transparent;
    transition: border-color all 0.2s;
    color: white;
    &::placeholder {
      color: transparent;
    }
    &:focus {
        ~ label {
           top: -16px;
           left: 0;
           font-size: 14px;
           color: white;
        }
        border-color: white;
    }
  }
  label {
    position: absolute;
    top: 4px;
    left: 10px;
    color: #999;
    font-size: 16px;
    display: block;
    transition: 0.2s;
    text-transform: capitalize;
  }
}
