/* width */
::-webkit-scrollbar {
    width: 5px;

}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
    transition: 1s;
    
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
    transition: 1s;
}

