.SectionHeader {
        display: inline-block;
        font-family: $headerFont ,sans-serif;
        font-size: 22px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-bottom: 2px solid white;
        position: relative;
        padding: 5px 10px;
        .left {
            position: absolute;
            left: -2px;
            bottom: -2px;
            background-color: white;
            width: 2px;
            height: 10px;
        }
        .right {
            position: absolute;
            right: -2px;
            bottom: -2px;
            background-color: white;
            width: 2px;
            height: 10px;
        }
}