.header  {
    background-color: $background-dark;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
    overflow: hidden;
    height: 40px;
    width: auto;
    
    h2 {
        display: inline-block;
        text-transform: uppercase;
        font-family: $headerFont;
        font-size: 22px;
        font-weight: 100;
        letter-spacing: 1.5px;
        white-space: nowrap;
    }
    .hamburger {
       position: absolute;
       right: 0;
       top: 0;
       width: 50px;
       height: 100%;
       border-left: 1px solid gray;
       display: flex;
       align-items: center;
       justify-content: center;
       cursor: pointer;
       svg {
           font-size: 22px;
       }
    }
}