.skills {
    .row {
        .design {
           ul {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            gap: 15px;
           }
        }
        .coding {
            ul {
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                }
        }
    }
}