.SkillsItem {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    .title {
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 5px;
        font-weight: 500;
        width: 95%;
    }
    .pregressBar {
        width: 95%;
        height: 10px;
        border: none;
        background-color: #6B6C6D;
        position: relative;
        .progress {
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            background-color: red;
            transition: 1s;
        }
    }
}