.homeSection {
    background-color: $background-dark;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../images/homepage/home-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   .homepageContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            outline: none;
            text-align: center;
            font-size: 36px;
            color: white;
            text-transform: uppercase;
            font-family: $headerFont, sans-serif;
            font-weight: 500;
            letter-spacing: 2px;
            word-wrap: break-word;
            outline: none;
            margin-bottom: 20px;
            span {
                display: inline-block;
                color: #00A3E1;
                font-family: $headerFont, sans-serif;
                font-size: 36px;
                font-weight: 600;
                letter-spacing: 3px;
                word-break: keep-all;
                
            }
        }
        .title {
            color: white;
            font-size: 22px;
            position: relative;
            display: flex;
            align-items: center;
          
            .staticText {
                font-family: $secondaryFont, sans-serif;
                font-size: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                .dynamicText {
                    margin-left: 10px;
                    padding-right: 5px;
                    border-right: 2px solid gainsboro;
                    span {
                        border-bottom: 2px solid #00A3E1;
                        font-family: $secondaryFont, sans-serif;
                        font-weight: bolder;
                    }
                }
            }
        }
    }
}

@media (min-width: 765px) {
    .homeSection {
        .homepageContent {
            h1 {
            font-size: 60px;
                span {
                    font-size: 60px;
                }
            }
             .title {
                 .staticText {
                        font-size: 30px;
                    .dynamicText{
                        font-size: 30px;
                    }
                }
             }
        }
    }
  
}

