.homeSection {
    background-color: $background-dark;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../images/homepage/home-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   .homepageContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            text-align: center;
            font-size: 50px;
            color: white;
            text-transform: uppercase;
            font-family: $headerFont, sans-serif;
            font-weight: 500;
            letter-spacing: 2px;
            word-wrap: break-word;
            outline: none;
            span {
                display: inline-block;
                color: #00A3E1;
                font-family: $headerFont, sans-serif;
                font-size: 50px;
                font-weight: 600;
                letter-spacing: 3px;
                word-break: keep-all;
                
            }
        }
        .title {
            color: white;
            font-size: 36px;
            position: relative;
            display: flex;
            align-items: center;
            .staticText {
            font-family: $secondaryFont, sans-serif;
            font-size: 36px;
            }
            .dynamicText {
                list-style: none;
                margin-left: 15px;
                height: 60px;
                line-height: 60px;
                overflow: hidden;
                li {
                    position: relative;
                    animation: sliding 4.5s steps(3) infinite;
                    top: 0;
                    
                    span {
                        position: relative;
                        font-family:$secondaryFont,sans-serif;
                    }
                    ::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left:0;
                        height: 100%;
                        width: 100%;
                            background-image: url('../../images/homepage/home-bg.jpg');
                            background-position: center;
                            // // background-size: cover;
                            // background-repeat: no-repeat;
                        border-left: 2px solid $color-light;
                        animation: typing 1.5s steps(14)  infinite;
                        
                    }
                }
            }
        }

   }
}

@media (min-width: 765px) {
    .homeSection {
        .homepageContent {
            h1 {
            font-size: 60px;
                span {
                font-size: 60px;
                }
            }
        }
    }
  
}

// animtions
@keyframes typing  {
    100% {
        left: calc(100% + 5px);
        margin: 0 -35px 0 35px;
    }
}

@keyframes sliding {
    100% {
        top: -180px;
    }
}