.blog-page {
    background-color: $background-dark;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
    z-index: 1;
    perspective: 1200px;
    overflow: hidden;
}

// desktop
@media (min-width: 765px) {
    .blog-page {
       top: 0;
       left: 200px;
       height:100%;
       width: calc(100% - 200px)   
    }
}

@keyframes flipFront {
    0% {
        transform: rotateY(0deg) scale(1);
        opacity: 1;
   
    }
    100% {
        transform: rotateY(90deg) scale(0.60);
        opacity: 0;
    }
}

@keyframes flipBack{
    0% {
        transform: rotateY(-90deg) scale(0.60);
        opacity: 0;

    }

    100% {
        transform: rotateY(0deg) scale(1);
        opacity: 1;
    }
}