.blog-page {
    background-color: orange;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
    z-index: 1;
    perspective: 1000px;
    transition: 2s;

    animation: flip 2s infinite ease-in-out;
}

// desktop
@media (min-width: 765px) {
    .blog-page {
       top: 0;
       left: 200px;
       height:100%;
       width: calc(100% - 200px)   
    }
}

@keyframes flip {
    0% {
    transform: rotateY(0deg) scale(1);
   
    }

    50% {
        transform: rotateY(90deg) scale(0.75);
    }

    100% {
        transform: rotateY(0deg) scale(1);
  
    }
}