.galleryItem {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    color: white;
    transition:  0.4s;
    height: 260px;
    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    .hoverEffect {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition:inherit;
    }

    h2 {
        position: absolute;
        top: 30px;
        left: 30px;
        opacity: 0;
        transition: inherit;
    }
    .tools {
        position: absolute;
        bottom: 30px;
        left: 30px;
        opacity: 0;
        transition: inherit;
    }
    .icon {
        position: absolute;
        font-size: 25px;
        bottom: 30px;
        right: -20px;
        transition: inherit;
        opacity: 0;
      
    }
    
    &:hover {
        .hoverEffect {
            opacity: 0.7;
        }
        h2 {
            opacity: 1;
            top: calc(100% / 2);
        } 
        .tools {
            opacity: 1;
            bottom: 60px;
            bottom: calc(100% / 2  - 20%);
        }

        .icon {
            right: 30px;
            opacity:1;
            }
    }
    &.active {
        scale: 1;
    }
    &.hidden {
        opacity: 0;
        scale: 0;
        position: absolute;
        top: 500px;
        // animation-name: hidde;
        // animation-duration: 0;
        
    }
    
}

@media (max-width: 1030px) {
    .galleryItem {
        height: 200px;
    }
}

// @keyframes hidde {
//     from {
//         position: relative;
//     }

//     to {
//        position: absolute;
//     }
// }