.portfolioPopup {
    background-color: red;
    position:fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    border: 40px solid black;
    transition: 0.5s;
    &.active {
        background-color: green;
        right: 0;
    }
}

// @media (min-width: 765px) {
//     .portfolioPopup {
       
//     }
// }

