.showcase {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.5);
    color: white;
    display: flex;
    align-items: center;
    display: none;
    z-index: 1;
    padding: 10px;
    .swiper-slide {
            -webkit-tap-highlight-color: transparent;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        &:focus {
            user-select: none !important;
        }
        .imageWrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            img {
                cursor: pointer;
                object-fit:contain;
                width: 800px;
                height: 800px; 
            }
        }
    } 
        .closeButton {
            position: absolute;
            top: 18%;
            right: 20px;
            font-size: 25px;
            color: gray;
            cursor: pointer;
            z-index: 1;
            &:hover {
               color: white; 
            }

        }
        .btnPrev {
            position: absolute;
            top: 50%;
            left: 20px;
            cursor: pointer;
            z-index: 1;
            font-size: 40px;

        }
        .btnNext {
            position: absolute;
            top: 50%;
            right: 20px;
            z-index: 1;
            cursor: pointer;
            font-size: 40px;
            color: white;
        }
        &.active {
            display: flex;
        }
}

@media (max-width: 1100px) {
    .showcase {
        .swiper-slide  {
            .imageWrapper {
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .btnPrev {
            color: gray;
        }
        .btnNext {
            color: gray;
        }
    }
}


