
    .grid {
        background-color: orange;
                .element-item {
                    background-color: red;
                    text-align: center;
                        float: left;
                        width: 150px;
                        height: 150px;
                        border: 2px solid #b6b5b4;
                    position: relative;
                        float: left;
                    //     width: 100px;
                    //     height: 100px;
                    //     margin: 5px;
                    //     padding: 10px;
                        background: #888;
                    //     color: #262524;
                }
    }
