
    .grid {
        background-color: orange;
                .element-item {
                    position: relative;
                    float: left;
                    background-color: red;
                    text-align: center;
                    float: left;
                    width: 150px;
                    height: 150px;
                    border: 2px solid #b6b5b4;
                    margin: 5px;
                    padding: 10px;
                    background: #888;
            
                }
    }
