.blogItem {
  background-color: orange;
  margin-bottom: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  position: relative;
  .img {
    width: 100%;
    height: 150px;
    background-color: green;

    img {
    }
  }

  .blogItemContent {
    background-color: purple;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    text-wrap:pretty;
    .secondaryTitle {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bolder;
      letter-spacing: 1px;
      margin-top: 30px;
      margin-bottom: 10px;
    }

    .blogTitle {
      
    }

    .blogData {
      color: red;
      font-family: serif;
      font-style: italic;
      font-size: 14px;
    }
  }
}
