.blogShowcaseForm {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 30px;
    margin-top: 50px;
    width: calc(100% - 620px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    form {
      display: flex;
      flex-direction: column;
      .info {
        display: flex;
        justify-content: space-between;
      }
    }
}

@media screen and (max-width: 1000px) {
    .blogShowcaseForm {
      width: calc(100% - 120px);
    }
  }
  
  
  @media screen and (max-width: 750px) {
    .blogShowcaseForm {
      width: 100%;
  
    }
  }