.blogShowcase {
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  overflow: auto;
  z-index: 3;
  background-color: $background-dark;
  opacity: 0;
  transition: all 0.5s;
  &.active {
    display: flex;
    left: 0;
    opacity: 1;
  }

  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  .imageContainer {
    width: 100%;
    height: 300px;

    img {
      object-fit: fill;
      width: 100%;
      height: 100%;
    }
  }
  .content {
    width: 100%;
    height: 130%;
    display: flex;
    flex-direction: column;
    padding: 0 80px 50px 80px;
    .blogHeader {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $background-dark;
      padding: 40px 80px 40px 80px;
      margin-top: -100px; //don't forget to drop of it after screen get smaller size
      .subtitle {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bolder;
        letter-spacing: 2px;
      }
      .title {
        text-align: center;

        font-size: 40px;
        word-break: break-word;
      }
      .date {
        font-size: 14px;
        font-weight: 300;
        font-family: serif;
        letter-spacing: 1px;
      }
    }

    p,
    blockquote {
      margin-bottom: 15px;
      line-height: 1.5;
      color: $color-light;
    }
    blockquote {
      display: flex;
      margin: 20px auto 35px auto;
      font-weight: 500;
      font-size: 18px;
      font-style: italic;
      &:before {
        display: inline-block;
        content: "";
        background-color: red;
        width: 10px;
        height: 100%;
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .blogShowcase {
    .content {
      .blogHeader {
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .blogShowcase {
    .content {
      padding: 0 15px 0 15px;
      .blogHeader {
        padding: 40px 0 40px 0;
        margin-top: 0;
      }
    }
  }
}
