.blogItem {
  background-color: orange;
  margin-bottom: 40px;
  cursor: pointer;
  img {
  }
  .blogItemContent {
    .secondaryTitle {
      text-transform: uppercase;
      font-size: 12px;
    }
    .blogTitle {
    }
    .blogData {
      font-style: italic;
    }
  }
}
